---
layout: editorial
title: "Teaching"
permalink: /teaching/
nav: teaching
---

<h1 class="ed-h1">Teaching</h1>

<div class="ed-award">
  <div class="ed-award__icon"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="6"/><path d="M8.2 13.1 7 22l5-3 5 3-1.2-8.9"/></svg></div>
  <div>
    <div class="ed-award__title">2026 Centennial Teaching Assistant Award</div>
    <div class="ed-award__desc">Awarded by the Stanford School of Engineering in recognition of outstanding contributions to teaching.</div>
  </div>
</div>

<p class="ed-teach-note">I have served as a Course Assistant for the following courses at Stanford:</p>

<div class="ed-courses">
  {% for post in site.teaching reversed %}
  <div class="ed-courserow">
    <div class="ed-courserow__term">{{ post.term }}</div>
    <div>
      <div class="ed-courserow__title">{{ post.title }}</div>
      <div class="ed-courserow__instructor">{{ post.instructor }}</div>
      <div class="ed-courserow__desc">{{ post.description }}</div>
      {% if post.course_url %}
      <div class="ed-courserow__links"><a class="ed-link" href="{{ post.course_url }}" target="_blank" rel="noopener">Course website &rarr;</a></div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
